
<div class="row tab-pane active" id="catalogue" ng-controller="catalogueCtrl">

    <div class="col-md-4 well ToolContainer">
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Rechercher"
                           ng-model="filterService.searchTxt" ng-change="chkIconPhotos=false;catalogueOptionsChanged()" />
                    <div class="input-group-addon" ng-click="filterService.searchTxt='';catalogueOptionsChanged()">X</div>
                </div>
            </div>
        </form>

        <div style="padding-left: 1em;">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="filterService.options.searchInOption.photoName"
                           ng-change="catalogueOptionsChanged()"> Recherche par nom de photos
                </label>
            </div>

        </div>

        <div style="padding-top: 1em">
            <h4>Affichage</h4>
            <div style="padding-left: 1em;">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="chkNumPiece" ng-init="chkNumPiece=true"> Numéros pièces
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="chkIconPhotos" ng-init="chkIconPhotos=false" ng-click="UnveilImg()"> Photos
                    </label>
                </div>
            </div>
        </div>

        <!-- DEBUG -->
        <!--div>
            <br>filter={{filterService.activeFilters.refPiece}}
            <br>numPiece={{catalogueOptions.searchInOption.numPiece}}
            <br>photoName={{catalogueOptions.searchInOption.photoName}}
            <br>chkNumPiece={{chkNumPiece}}
            <br>chkIconPhotos={{chkIconPhotos}}
            <br>searchText={{searchTxt}}
        </div-->
        <!-- DEBUG -->

        <!-- TODO: add Collections -->
        <div style="padding-top: 1em; display: none;">
            <h4>Collections</h4>
            <div style="padding-left: 1em;">

                <!--div class="btn-group">
                    <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                        Collections
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="#">Desactiver</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Collection 1</a></li>
                        <li><a tabindex="-1" href="#">Collection 2</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Creer une collection</a></li>
                    </ul>
                </div-->

                <!--fieldset>
                    <div class="input-append">
                        <input type="text">
                        <div class="btn-group">
                            <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                                Collections
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                <li><a tabindex="-1" href="#">Desactiver</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#">Collection 1</a></li>
                                <li><a tabindex="-1" href="#">Collection 2</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#">Creer une collection</a></li>
                            </ul>

                        </div>
                    </div>
                </fieldset-->

                <!-- for drop down, try http://plnkr.co/edit/cs4FLN?p=preview -->
                <!--select ng-controller="selectionsCtrl" class="form-control btn-block">
                    <option>Collections désactivées</option>
                    <option disabled>------------</option>
                    <option ng-repeat="selection in selections">{{selection.name}}</option>
                    <option disabled>------------</option>
                    <option>Créer une collection</option>
                </select-->
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Afficher uniquement la selection
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-offset-4 col-md-8 ListContainer" cg-busy="{promise:listPromise,message:'Chargement',templateUrl:'partials/waiting.html'}">
        <table OFFng-controller="catalogueCtrl" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th ng-if="chkNumPiece">Pièce</th>
                <th>Photos</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ceramique in ceramiques|filter:filterService.activeFilters">
                <td ng-if="chkNumPiece" width='1%'>
                    <!--div class="checkbox">
                        <label><input type="checkbox" ng-model="ceramique.collection" ng-change="selectionChanged(ceramique.refPiece)">{{ceramique.refPiece}}</label>
                    </div-->
                    {{ceramique.refPiece}}
                </td>
                <td ng-if="!chkIconPhotos">
                    <span ng-repeat="photo in ceramique.listPhotos">
                        {{photo.nomFichier}}<br/>
                    </span>
                </td>
                <td ng-if="chkIconPhotos">
                    <div class="pull-left" ng-repeat="photo in ceramique.listPhotos">
                        <p class="muted">
                            <img src="img/loading.jpg" data-src="{{ceramiques.photoPath}}/repo?img={{photo.nomFichier}}" title="{{photo.nomFichier}}"/>
                        </p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


